body {
  background: url(webBkgrd.jpg) no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 0 2rem;
  font-family: 'Roboto', sans-serif;
}

/* IN THE HEADER */

header {
  display: grid;
  align-items: center;
  grid-template-areas: 
    "title nav"
}

#background-tint {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

header h1 {
  font-weight: 500;
  grid-area: title;
}

#nav {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  font-weight: 400;
  list-style-type: none;
  margin-left: auto;
  grid-area: nav;
}

#mobileMenu, #burger {
  display: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

/* MIDDLE OF THE BODY */

main {
  font-family: 'Roboto', 'sans-serif';
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

main h1 {
  font-weight: 500;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

#about p {
  color: #AAA;
}

#signup p:nth-child(1) {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

#fillin {
  border: 1px solid #AAA;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border: 0;
  color: #FFF;
  font-size: 10pt;
}

hr {
  margin: 0;
  height: 0.3px;
  color: #888;
}

#fillin button {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  padding: 10px;
}

#signup p:nth-child(3) {
  color: #BBB;
  text-align: center;
  font-size: 0.75em;
  margin-top: 2em;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  bottom: -90px;
  font-size: 0.8em;
}

footer ul {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 40%;
  list-style-type: none;
  letter-spacing: 2px;
}

@media screen and (max-width: 976px) {
  footer ul {
    width: 50%;
  }
}

@media screen and (max-width: 903px) {
  body {
    background-size: 100vw 100vh;
  }
  
  main h1 {
    font-size: 3.5em;
  }
  
  #fillin {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  main h1 {
    font-size: 3em;
  }
  
  footer {
    font-size: 0.6em;
    bottom: -150px;
  }
}

@media screen and (max-width: 697px) {
  body {
    padding: 0 1rem;
  }
  
  main h1 {
    font-size: 2.5em;
  }
  
  #about p {
    font-size: 0.8em;
  }

}

@media screen and (max-width: 610px) {
  footer ul {
    width: 57%;
  }
}

/* ONE COLUMN SCREEN */

@media screen and (max-width: 562px) {
  body {
    background-size: 100vw 143vh;
  }
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  #nav {
    display: none;
  }
  
  #burger {
    display: block;
    font-size: 1.7rem;
    cursor: pointer;
  }
  
  #mobileMenu {
    display: none;
    list-style-type: none;
    text-align: right;   
    flex-direction: column;
    position: absolute;
    right: 1.5em;
    top: 3.5em;
    animation-name: menuAnimation;
    animation-duration: 1.5s;
  }
  
  @keyframes menuAnimation {
    0% {opacity: 0; top: 2em}
    100% {top: 3.5em}
  }
  
  main {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
  
  #about {
    margin: 0 auto;
  }
  
  footer {
    bottom: -45px;
    font-size: 8px;
  }
}
